name: Docker Build and Push to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-north-1

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region eu-north-1 \
        | docker login --username AWS --password-stdin 463932052716.dkr.ecr.eu-north-1.amazonaws.com

    # Build and Push Backend
    - name: Build & Push Backend Image
      run: |
        docker build -t my-first ./backend
        docker tag my-first:latest 463932052716.dkr.ecr.eu-north-1.amazonaws.com/my-first:latest
        docker push 463932052716.dkr.ecr.eu-north-1.amazonaws.com/my-first:latest

    # Build and Push Frontend
    - name: Build & Push Frontend Image
      run: |
        docker build -t k8s ./frontend
        docker tag k8s:latest 463932052716.dkr.ecr.eu-north-1.amazonaws.com/k8s:latest
        docker push 463932052716.dkr.ecr.eu-north-1.amazonaws.com/k8s:latest
